:root {
	--content-color: #222;
	--bg-color: #fff;
	--secondary-color: #222;
	--secondary-bg-color: #fd0;
	--link-color: #840;
}
@media (prefers-color-scheme: dark) {
	:root {
		--content-color: #eee;
		--bg-color: #222;
		--secondary-color: #222;
		--secondary-bg-color: #b90;
		--link-color: #b90;
	}
}


/*
	Styles for the structural site elements
*/

* {
	box-sizing: border-box;
}

html {
	position: relative;
	max-width: 65ch;
	min-height: 100%;
	margin: 0 auto;
}

body {
	margin: 0;
	padding: 0;
	color: var(--content-color);
	background-color: var(--bg-color);
	overflow-y: scroll;
}

header {
	margin-bottom: 1rem;
	padding: 1rem;
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color);
}

header a,
header a:visited {
	text-decoration: none;
	color: inherit;
}


nav {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	padding: 0 1rem;
	gap: 1rem;
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color);
}
nav a,
nav a:visited {
	flex: 0;
	padding: 1rem;
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color);
	text-decoration: none;
	font-weight: bold;
}
nav a:hover,
nav a:focus-visible {
	color: var(--content-color);
	background-color: var(--bg-color);
}


#page-history {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	max-width: 65ch;
	margin-bottom: 1rem;
	padding: 0 1rem;
}
#page-history a {
	order: 4;
}
#page-history .item {
}
#page-history .item .event,
#page-history .item .time {
}


main {
	padding: 0 1rem 3rem;
	line-height: 140%;
}


#index {
}

#index li.page {
	list-style: disc;
}
#index li.page .title {
}


#history li {
	display: table-row;
	font-family: monospace;
}
#history li > * {
	display: table-cell;
	padding: 0.1rem 0.5rem;
}
#history .date {
	flex: 0;
	white-space: nowrap;
}
#history .hash {
	flex: 0 1 20%;
	max-width: 12ch;
	overflow: hidden;
	text-overflow: ellipsis;
}
#history .subject {
	flex: 1 1 50%;
}


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1rem;
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color);
}


/*
	Individual element styles
*/

a {
	color: var(--link-color);
}
a:hover {
	color: var(--content-color);
}

h1, h2, h3, h4, h5 {
	margin: 1em 0;
}
h3 {
	border-top: 1em solid var(--secondary-bg-color);
	padding-top: 1em;
}

p {
	margin: 1rem 0;
}

blockquote {
	font-style: italic;
}

code {
	padding: 0.1em 0.2em;
	opacity: 0.8;
}
